
   /* ! mobile */
@media screen and (max-width: 600px) {
    .play-button {
        /* left: 48%; */
    }

    .cover {
left: 11%;

    }

    .audio-player .album-image {
        height: 84px;
        width: 84px;
    }


    .audio-player #play-btn {
        margin-top: 10px;
    }

    .audio-player .player-controls p {
        font-size: 11px;
        margin-top: 5px;
        font-weight: 400;
    }
    .fixed{
        top: 32%;
    }

    .scrubber small{
        font-size: 13px;
    }


.ct-mg{
    margin-left: 10px;
}
.audio-controls{
    width: 100px !important;
}

    .alb-ctg-res{
    display: flex;
    transform: rotate(90deg) !important;
    font-size: 9px;
}
    .buttonDiv{
        width: 10px !important;
        padding: 0 15px;
        height: 150px;

    }
    .side-bt-text2{
       margin-bottom: 20px;
       font-size: 12px;
    }

    .side-bt-text{
        transform: rotate(90deg) !important;
        font-size: 9px;
        /* font-size: 14px; */
        /* font-size: 5px; */
    }

    .acds-cards .container{
        padding:0px;
    }
    .about-para{
        text-align: justify !important;
    }
    .about-para-2{
        margin-left: 0px !important;
    }
    .gospel-web-section{
        padding-top: 40px;
    }

    .accordion .fa-headphones-alt{
        font-size: 25px !important;

    }
    .my-accords{
        display: flex;
        /* justify-content: center; */
        align-items: center;

    }
.icon-contact{
    font-size: 22px !important;
}
.con-icon-p{
    font-size: 12px;
}
.contact-haeding-res{
    margin-bottom: 15px !important;
}

   /* ! guest start */
   .guest-main-head{
       font-size: 14px !important;
   }
   .guest-form-headings{
       font-size: 15px;
   }
   .guest-form-btns{
       font-size: 8px;
       /* font-weight: bold; */
   }
   /* ! guest end */
   /* ! about start */
   .about-para{
       font-size: 14px;
   }
   .about-r2{
       margin-top:50px;
   }
   /* ! about end */
   
    /*! engr start */
    .studio-eng-main-head{
        font-size: 17px !important;
    }
    /*! engr end */
  
  /* ! schedule start */
  .program-sch-main-head{
      font-size: 18px !important;
  }
  .onair-content h2{
      font-size: 17px !important;

  }
  /* ! schedule end */
  
    /* !playing start */
.adv-content{
    padding-bottom: 22px;
}
.now-playing {
    padding-bottom: 19px;
}

    .my-over-2 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    header img {
        width: 100vw;
        height: 40vh;
        object-fit: cover;
        filter: brightness(0.4);
      }
    .my-over-2 h1{
        font-size: 22px;
    }
    .now-playing-heading{
        font-size: 19px;
    }
    .npheadings{
        font-size: 19px;
        text-align: left;
    }
    .se3-play {
        width: 84px;
    }
    .se4-play {
        width: 99px;
    }
    

    .table-section td{
    }
    
    .now-playing-head-div{
        height: 190px;
    }

    .fa-headphones-alt{
        font-size: 50px !important;
    }
    /* !playing start */
   .last-lists{
       text-align: left;
   }
   .dj-lines{
       width: 175px ;
   }

   /* .footer-d2{
       margin-right: 0 !important;
       margin-left: 0 !important;
   } */

    .footer-d1{
        background-color: transparent;
       border-radius: 0px 0 0px 0px;
   }

   .page-footer .mtg{
    margin-top: 10px !important;
    margin-bottom: 10px;
}

.logo-div{
  
   background-color: transparent;
 }

 .slideshow {
   height: auto;     
 }

 .heading-setting{
     margin-top: -38%;
 }

 .main-heading{
    font-size: 25px;

}

.main-heading2{
    font-size: 15px;
}


/* ! top btns start */
.the-btns{
    background-color: rgb(211,211,211);
    margin-top: 0;
    padding-top: 25px;

}

.all-btns h2{
    font-size: 20px;
    color: white;
}

.top-bt1 {
    border-radius:21px 21px 21px 21px;
    

}

.top-bt2 {
    border-radius:21px 21px 21px 21px;
    margin-top: 20px;
}


.top-bt1 img , .top-bt2 img{
    width: auto;
    height: 60px;
}

/*  ! program start */
.program-2a{
    height: 120px !important;
    width: 120px;
    border: 5px solid white !important;
    flex-direction: column;
}
.program-2a h2 , .program-3a h2{
    font-size: 16px !important;
}
.program-3a{
    height: 120px !important;
    width: 120px !important;
    border: 4px solid rgb(254, 206, 82) !important;
    flex-direction: column;
}


/*  ! program end */
/*  */

.parent{
    display: none;
}
/*  */






@media screen and (max-width: 1025px) {
  .square{
      
       width: 100% !important;
     }


    }



    @media screen and (max-width: 840px) {
        .square{
            
             width: 240px;
           }
      
      
          }


        }