




    /* ! mobile */
@media screen and (max-width: 600px) {
    /* !playing start */
    .now-playing-head-div{
        height: 190px;
    }

    .fa-headphones-alt{
        font-size: 50px !important;
    }
    /* !playing start */
   .last-lists{
       text-align: left;
   }
   .dj-lines{
       width: 175px ;
   }

   /* .footer-d2{
       margin-right: 0 !important;
       margin-left: 0 !important;
   } */

    .footer-d1{
        background-color: transparent;
       border-radius: 0px 0 0px 0px;
   }

   .page-footer .mtg{
    margin-top: 10px !important;
    margin-bottom: 10px;
}

.logo-div{
  
   background-color: transparent;
 }

 .slideshow {
   height: auto;     
 }

 .heading-setting{
     margin-top: -38%;
 }

 .main-heading{
    font-size: 25px;

}

.main-heading2{
    font-size: 15px;
}


/* ! top btns start */
.the-btns{
    background-color: rgb(211,211,211);
    margin-top: 0;
    padding-top: 25px;

}

.all-btns h2{
    font-size: 20px;
    color: white;
}

.top-bt1 {
    border-radius:21px 21px 21px 21px;
    

}

.top-bt2 {
    border-radius:21px 21px 21px 21px;
    margin-top: 20px;
}


.top-bt1 img , .top-bt2 img{
    width: auto;
    height: 60px;
}

/*  ! program start */
.program-2a{
    height: 120px !important;
    width: 120px;
    border: 5px solid white !important;
    flex-direction: column;
}
.program-2a h2 , .program-3a h2{
    font-size: 16px !important;
}
.program-3a{
    height: 120px !important;
    width: 120px !important;
    border: 4px solid rgb(254, 206, 82) !important;
    flex-direction: column;
}


/*  ! program end */
/*  */

.parent{
    display: none;
}
/*  */


}



@media screen and (max-width: 1025px) {
  .square{
      
       width: 100% !important;
     }


    }



    @media screen and (max-width: 840px) {
        .square{
            
             width: 240px;
           }
      
      
          }


