
.card-slider{
    height: 100% !important;
}

.platform-head{
    font-size: 33px;
    margin-top: 50px !important;

}
nav a{
    font-size: 14px;
}

.se3{
    width: 155px;
    background: linear-gradient(
45deg
, #ffbf00, #ffee00);
    height: 4px;
}

.se4{
    width: 160px;
    background: linear-gradient(
45deg
, #26a9e0, #2b388f);
    height: 4px;

}



.card2 img {
    width: 100%;
    height: auto;
}
.navbar-toggler-icon {
    color: white !important;
}

.f-400{
    font-weight: 400;
}
.card{ 
    height:auto !important;

}
.card-img-top{
    width: 100% !important;
    height: auto !important;
}

.main-setting{
    margin-top: -10%;
}


/* stroke */
nav ul li .nav-items,
nav ul li .nav-items:after,
nav ul li .nav-items:before {
  transition: all .5s;
}

.navbar ul li .nav-items
 {
  position: relative;
}
.navbar ul li .nav-items:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.navbar ul li .nav-items:hover:after {
  width: 100%;
}

.navitem1{
    border-bottom: 1px solid #aaa ;
}




body{
    font-family: 'Poppins', sans-serif ;
}
.main-heading{
    font-size: 50px;

}

.main-heading2{
    font-size: 30px;
}
.navbar ul li a{
    /* font-size: 14px; */
    font-weight:400 !important;
    padding-left: 15px !important;
}
/* .navbar ul li a:hover{
    z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
} */


/* ! top btns start */
.the-btns{
    background-color:#e8e8e8 !important;
   
    margin-top: -5%;

}

.all-btns h2{
    font-size: 43px;
    color: white;
    
}
.top-bt1{
    background: linear-gradient(
45deg
, #eb2227, #be202e);
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius:21px 0 0 21px;
}

  .top-bt1 img{
        width: auto;
        height: 120px;
  }
  .btn-heading-div{
    padding-left: 39px;
  }

  .top-bt2{
    background: linear-gradient(
        45deg
        , #26a9e0, #2b388f);
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius:0px 21px 21px 0px;
}

.top-bt2 img{
    width: auto;
    height: 120px;
}

/* ! top btns end */

.b1{
    border: 2px solid red !important;
}

.b2{
    border: 2px solid green !important;
}

.logo-div{
   height: 105px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(201,218,236);
}

.navbar{
    background: linear-gradient(
45deg
, #26a9e0, #2b388f);
}

.navbar a{
color: white !important;
padding:10px 20px;
}
.slider-btn1{
    background: linear-gradient(to right, #ed213a, #93291e);
    /* width:35%; */
    border-radius:10px 0 0 10px;


}

.slider-btn2{
     background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    /* width: 35%; */
    border-radius:0 10px 10px 0;
}
.sliders-btns{
    margin-top: -5%;
    z-index: 1 !important;
    opacity: 1 !important;
}

/* ! studio start  */
.studio{
    background-color:#e8e8e8;
    /* height:  fit-content !important; */
    padding-bottom: 100px;
    padding-top: 42px;
    
}


.square{
    position: absolute;
    border: 5px solid rgb(254, 206, 82);
    width: 267px;
    height: 210px;
    margin-top: -19px;
    margin-left: -15px;
}

.card-slider .card {
    width: 250px;
    height: 286px;

}

.card img{
    width: 100% !important;
    height:210px !important;
}
.se1{
    width: 155px;
    background: linear-gradient(
45deg
, #eb2227, #be202e);
    height: 4px;
}

.se2{
    width: 160px;
    background: linear-gradient(
45deg
, #26a9e0, #2b388f);
    height: 4px;

}

.dj-lines{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    height: 3px;
    width: 207px;

}
/* ! studio end  */

/* ! program start */
.program{
    background-color: #dddddd;
    padding-bottom: 120px;
 }
 .list-dot{
     width: 29px;
     height: 29px;
     border-radius: 50%;
     background-color: rgb(248 ,186 ,0);
 }

 .list-para1{
     color: #000 !important;
 }

 .list-para2 , .list-para3{
     font-weight: bold;
 }

 .list-paras{
     margin-left: 36px; 
 }

.program-1{
    background-color: black;
}

.program-2{
    background: linear-gradient(
        45deg
        , #26a9e0, #2b388f);
}
 

.program-2a{
    height: 200px !important;
    width: 260px;
    border: 7px solid white !important;
    flex-direction: column;
}
.program-2a h2 , .program-3a h2{
    font-size: 35px !important;
}

.program-3a{
    height: 200px !important;
    width: 260px;
    border: 7px solid rgb(254, 206, 82) !important;
    flex-direction: column;
}

.program-3{
    background: linear-gradient(
45deg
, #eb2227, #be202e);
}

.program-4{
    background-color: rgb(254, 206, 82);
}
.program-main-head , .studio-main-head{
    font-size: 33px;
}

/* ! program end */

/* ! platform  start */
.platform{
    background-image: url('../img/platforms/platforms1.jpg');
    /* height: 100vh; */
    background-repeat: no-repeat;
    /* height: 600px; */
    background-size: cover;
}
/* ! platform  end */

/* ! advertise start */
.advertise{
    background-color: #dddddd;

}
.card-slider1 .card img{
    border: 4px solid rgb(254, 206, 82);
    width: 100%;
    height: auto;

}  

.adv-content{
    padding-bottom: 80px;
}
/* ! advertise end */


/* ! footer start */


.page-footer{
    background: linear-gradient(
        45deg
        , #26a9e0, #2b388f);

}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
   background-color: #eb2227;
    color: white ;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none !important;
    border: 1px solid white;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  .footer-copyright{
    background-color: rgb(38, 38,38) !important;
  }

  .footer-d1{
      /* width: 100px; */
      height: 300px;
    background-color: #dddddd;
    border-radius: 0px 0 76px 76px;
 }
 .footer-copyright{
    background: linear-gradient(
45deg
, #eb2227, #be202e);
    font-size: 13px;
    font-weight: lighter;

 }
.page-footer h5{
    font-size: 23px
}

.page-footer h6{
    font-size: 14px !important;
}


.page-footer .mtg{
    margin-top: 82px !important;
    margin-bottom: 46px;
}
.page-footer ul li a {
    font-size: 13px;
}

.page-footer img{
    padding-top: 51px;
    width: 283px;
    height: 167px;
}

/* ! footer end */

/*! hovers start*/
.card:hover {
    box-shadow:0 10px 10px 0px white;
    transform: translate(0px, -10px);
    transition: all ease-in-out 300ms;
  }

  /* .card {
    display: block;
    top: 0px;
    position: relative;
    
  } */

/*! hovers end*/

/* ! playing start */
header img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    filter: brightness(0.4);
  }
  
  
  .my-over-2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  .my-over-2 h1{
      font-size: 40px;
  }

  .now-playing{
      background-color: #dddddd;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
.se3-play{
    width: 155px;
    background: white;
    height: 4px;
}

.se4-play{
    width: 160px;
    background: linear-gradient(
45deg
, #26a9e0, #2b388f);
    height: 4px;

}

.se1-play{
    width: 155px;
    /* background: grey; */
    border-bottom: 1px solid gray;
}

.se2-play{
    width: 160px;
    background: linear-gradient(
45deg
, #26a9e0, #2b388f);
    height: 4px;

}

.now-playing-head-div{
    background: linear-gradient(
        45deg
        , #26a9e0, #2b388f);
        height: 400px;
}
 .now-playing-r2{
    background-color: rgb(254, 206, 82);

 }

.now-playing-head-content{
    height: 90% !important;
    width: 90%;
    border: 7px solid white !important;
    flex-direction: column;
}


/* ! table start */
.table-section{
    background-color: #dddddd;

}



/* ! table end */


/* ! playing end */

/*! schedule start */
/* .slick-next, .slick-prev{
    display: none !important;
} */

.slick-next:before, .slick-prev:before {
   
    color: none !important;
}



.onair-div{
    background: linear-gradient(
        45deg
        , #26a9e0, #2b388f);
}

.now-on-air{
    background-color: #dddddd;
}


.onair-content{
    height: 90% !important;
    width: 90%;
    border: 7px solid white !important;
    flex-direction: column;
}
.schedule-table{
    padding-top: 100px;
}
.schedule-advertise{
    padding-top: 40px;
}
.schedule-table{
    background-color: #dddddd;
}
/*! schedule end */

/* ! engr start */
.engr-section{
    padding-top:60px;
    padding-bottom:100px;
}
.engr-section img {
    width: 284;
    height: 245 !important;
}

.engr-img-square{
    position: absolute;
    border: 5px solid rgb(254, 206, 82);
    width: 95%;
    height: 70%;
    margin-top: -19px;
    margin-left: -20px;
}
/* ! engr end */

/* ! Guset form startr */
.guest-form-section{
    background-color: #dddddd;
    border: 1px solid #dddddd;
}
.guest-txt-area > textarea:focus{
    border-color:white !important;
    font-size: 18px;
    color: black !important;
}
/* ! Guset form startr */

/* ! about start */
.about-para{
    font-size: 18px;
    font-weight: normal;
}

.about-para b{
    font-weight: 500;
}
.about-section{
    background-color: #dddddd;
    padding: 100px 0px !important;
}

/* ! about end */

/* ! gospel web start */
.gospel-web-section{
    background-color: #dddddd;
    padding-top: 100px;
    padding-bottom: 30px;
}

/* ! gospel web end */


