.b1{
    border: 2px solid red !important;
}

.logo-div{
   height: 105px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(201,218,236);
}

.navbar{
    background-color: rgb(40, 121,190) !important;
}

.navbar a{
color: white !important;
padding:10px 20px;
}
.slider-btn1{
    background-color: red;
    width:35%;
    border-radius:10px 0 0 10px;


}

.slider-btn2{
    background-color: blue;
    width: 35%;
    border-radius:0 10px 10px 0;
}
.sliders-btns{
    margin-top: -5%;
    z-index: 1 !important;
    opacity: 1 !important;
}

/* ! studio start  */
.studio{
    background-color: rgb(211,211,211);
    height:  fit-content !important;
    
}


.square{
    position: absolute;
    border: 4px solid red;
    width: 250px;
    height: 210px;
    margin-top: -13px;
    margin-left: -15px;
}

.card img{
    width: 100% !important;
    height:250px !important;
}

/* ! studio end  */





